html
  head
    title= title
    script(src='../client/bundle.js')
  body
    h1= message
    form(action='/code' method='POST')
      div
        label(for='code') Code: 
        input(id='code' name='code' placeholder='Code received by email')
      div
        button(type='submit') Submit Code
